@model IEnumerable<Grafico.Models.GraficoViewModel>
@{
}

<div class="center"><h1>Análise por Sub-Área do Conhecimento</h1></div>
@*  *@

    <form>
        <div class="input-field col s12">
            

        </div>
        

        

    </form>
    <table class="">
        <thead>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>
                    <p><label class="negrito">Sub-Área: </label>  @Html.DisplayFor(modelItem => item.SubArea)</p>

                    <p><label class="negrito">Modalidade: </label> @Html.DisplayFor(modelItem => item.Modalidade)</p>

                    <p><label class="negrito">Pontuacao (Atende / Total): </label>    @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima) </p>
                </td>
                <td>
                    <div class="graph">


                        <svg>
                            <circle cx="50" cy="50" r="40" />
                        </svg>
                        <svg class="cor" stroke-dashoffset=@item.Aprov>
                            <circle cx="50" cy="50" r="40" />
                        </svg>

                        @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima)
                    </div>
                </td>

                

            </tr>
            }
        </tbody>

    </table>



